.container {
  background: lightsalmon;
  border: 3px solid black;
  border-radius: 10px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr 3fr);
  grid-template-rows: 50px repeat(2, 100px) 50px; */
  /* grid-auto-rows: 100px;
  grid-auto-flow: row; */

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px; */

  /* grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  gap: 4px; */

  grid-auto-rows: 50px;
  grid-template-columns: repeat(3, 50px);
  gap: 4px;
  height: 300px;
  width: 300px;
  /* justify-items: stretch;
  align-items: end; 
          the items */

  /* justify-content: center;
  align-content: center; 
         the content --> */
  /* place-content: center; */

  margin-bottom: 1400px;
}

/* @media (width > 300px) {
  .conainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 600px) {
  .conainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
} ---> minmax() */

.container div {
  background: lightblue;
  border: 2px solid #09f;
  border-radius: 6px;
}

/* bentogrids */
/* .container div:first-child {
  background: lightgreen;
  border: 2px solid black; */
/* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3; ---> */
/* grid-row-start: span 2; */
/* grid-column: 1 / 3;
  grid-row: 1 / 4;
} */

body {
  background: #ddd;
}

/* ------------------------------------------ */
/* BAD IDEA  */
/* .layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 1fr 100px;
  min-height: 100vh;
}

.layout header {
  background: lightblue;
  grid-column: 1 / -1;
}

.layout aside {
  background: yellow;
}

.layout main {
  background: red;
  grid-column: span 2;
}

.layout footer {
  background: grey;
  grid-column: 1 / -1;
} */

/* ------------------------------------------ */

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35px 1fr 100px;
  min-height: 100vh;
  grid-template-areas:
    'header header sidebar'
    'content content content'
    'footer footer footer';
}

@media (width > 400px) {
  .layout {
    grid-template-areas:
      'header header header'
      'sidebar content content'
      'footer footer footer';
  }
}

.layout header {
  background: lightblue;
  grid-area: header;
}

.layout aside {
  background: yellow;
  grid-area: sidebar;
}

.layout main {
  background: red;
  grid-area: content;
}

.layout footer {
  background: grey;
  grid-area: footer;
}
